<div class="content">
	<div class="">
		<div class="">
			
		</div>
		<div class="header" parallax-background parallax-ratio="0.15">
			<img src="../img/title2.png" class="logo"><br/>	
			<div class="text-initial">
				<span typewrite="" type-delay="100" text="stuff" initial-delay="1.5s" callback-fn="activateTitle()" class="ng-isolate-scope"></span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="container-profile text-profile">
					<h1>Um pouquinho sobre mim...</h1>
					<div class="col container-photo-margins">
						<img src="../img/photo.jpg" class="container-photo" parallax-background parallax-ratio="0.5">
					</div>
					<div class="col">
						<h2>
							Olá... <br> 
							Meu nome é Marcelo e tenho 22 anos. <br>
							Sou desenvolvedor, e crio sites, sistemas e aplicativos. <br>
							Sou formado em Análise e Desenvolvimento de sistemas, <br>
							e apaixonado por Tecnologia da Informação. <br>
							Amo o que faço pois programar é meu hobbie. <br>
							Trabalho com projetos, e tenho experiência em <br>
							desenvolvimento de sites responsivos, com aplicação <br>
							de técnicas de SEO e criação de template. <br>
							Também trabalho com aplicativos híbridos <br>
							que funcionam tanto em Android como em IOS. <br>
							Aumente seus lucros e tenha maior poder de divulgação <br>
							do seu negócio na maior rede do mundo... A internet!<br>
							Use a tecnologia a seu favor!!! <br>
							Não fique para trás! <br>


						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-center">
		<div class="">
			<div  class="container-center-img"  parallax-background parallax-ratio="0.15">
				<div class="text-center-reflection">	
					"Nunca é tarde para tentar o desconhecido. Nunca é tarde para ir mais além." <br>
					-Gabriele D'Annunzio
				</div>		
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row bottom-content">
			<h2 class="project">Conheça alguns de meus projetos</h2>
			<div class="align-projects">
				<div class="col-6 col-md-4">
					<h2>Projeto 1</h2>
						<div class="portifolio">
							<section>
				            <h2>Carousel with timer (cancels on mouseover)</h2>
					            <div ng-carousel ng-carousel-name="project1" ng-carousel-timer="5000">
					                <slidecontainer>
					                    <slide>Slide 1</slide>
					                    <slide>Slide 2</slide>
					                    <slide>Slide 3</slide>
					                    <slide>Slide 4</slide>
					                </slidecontainer>
					            </div>
					        </section>
						</div>
				</div>
				<div class="col-6 col-md-4">
					<h2>Projeto 2</h2>
						<div class="portifolio">
							<section>
				            <h2>Carousel with timer (cancels on mouseover)</h2>
					            <div ng-carousel ng-carousel-name="project2" ng-carousel-timer="5000">
					                <slidecontainer>
					                    <slide>Slide 1</slide>
					                    <slide>Slide 2</slide>
					                    <slide>Slide 3</slide>
					                    <slide>Slide 4</slide>
					                </slidecontainer>
					            </div>
					        </section>
						</div>
				</div>
				<div class="col-6 col-md-4">
					<h2>Projeto 3</h2>
						<div class="portifolio">
							<section>
					            <h2>Carousel with timer (cancels on mouseover)</h2>
					            <div ng-carousel ng-carousel-name="project3" ng-carousel-timer="5000">
					                <slidecontainer>
					                    <slide>Slide 1</slide>
					                    <slide>Slide 2</slide>
					                    <slide>Slide 3</slide>
					                    <slide>Slide 4</slide>
					                </slidecontainer>
					            </div>
					        </section>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
	        FOOTER
	</div>
</div>
<!-- 
<div class="container-center">
	<div class="">
		<div  class="container-center-img">
			<div class="container-center-img-photo" parallax parallax-ratio="0.9">
				<div class="text-center-reflection">	
				"Nunca é tarde para tentar o desconhecido. Nunca é tarde para ir mais além." <br>
				-Gabriele D'Annunzio
				</div>		
			</div>
		</div>
	</div>
</div> -->